body{
   background-image: url('https://img.freepik.com/free-photo/young-woman-working-laptop-isolated-white-background_231208-1837.jpg');
   background-size: cover;
   background-attachment: fixed;
   /* height: 600px;
   width:100%; */
}
button{
   border-radius: 500px;
   height: 30px;
   width: 140px;
   background-color: orange;
   color: whitesmoke;
}
.ba2{
   margin-left: 500px;
   margin-top: 150px;
}